Package: ps3muxer
Version: 1.30-ubuntu1
Section: video
Architecture: i386
Depends: libqtgui4, libqtcore4, libstdc++6, ffmpeg, mkvtoolnix
Priority: extra
Maintainer: clark15b@doom9 <clark15b@gmail.com>
Homepage: http://ps3muxer.org
Description: Sony PlayStation3 MKV to M2TS muxer
